* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) {

    body {
        background-image: url("images/greenBackground.jpg");
        font-family: open sans, sans-serif;
        font-weight: 400;
        line-height: 1.45;
        color: #333;
        font-size: 1rem;
        margin: 3% 3% 3% 3%;
        text-align: left;
    }

    img {
        width: 100%;
        margin-bottom: 3%;
        border: 0.15rem solid #888888;
        border-radius: 0.5rem;
        }

    p {
        margin-bottom: 1.3rem;
    }

    h1 {
        margin-top: 0%;
        margin-bottom: 10%;
        padding-top: 0%;
        padding-bottom: 0%;
        color: #4c645c;
        font-size: 1.7rem;
        font-weight: 700;
        border: none;
        text-align: center;
    }

    h2 {
        color: #4c645c;
        font-size: 1.5em;
        font-weight: 600;
        margin-top: 10%;
        margin-bottom: 5%;
        text-align: center;
    }

    h3 {
        color: #4c645c;
        font-size: 1.3rem;
        font-weight: 600;
        border-top: 1px solid #888888;
        padding-top: 5%;
        margin-top: 7%;
        margin-bottom: 5%;
        text-align: center;
    }

    nav a, nav a:link, nav a:visited {
        color: #6a7f76;
        text-decoration: none;
        font-size: 1.7rem;
        font-weight: 500;
        display: block;
        padding: 2% 0 2% 0;
    }

nav a:hover, nav a:active {
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: 700;
    background-image: url(images/greenBackground3.jpg);
    width: 100%;
    padding: 2% 0 2% 0;
    text-shadow: 0.1rem 0.1rem #9CBA7F;
}

    nav ul {
        margin: none;
        width: 100%;
    }

    nav ul li {
        display: block;
        width: 100%;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        border-top: 0.075rem solid #888888;
        border-left: 0.15rem solid #888888;
        border-right: 0.15rem solid #888888;
        border-bottom: 0.075rem solid #888888;
        border-radius: 0.5rem;
        background-image: url("images/greenBackground2.jpg");     
    }

    nav ul li:first-child{
        border-top: 0.15rem solid #888888;
    }

    nav ul li:last-child{
        border-bottom: 0.15rem solid #888888;
    }

    .wrapper {
        background-color: white;
        margin: 0;
        padding: 10% 5% 5% 5%;
        border: 5px solid #999b9a;
        border-radius: 2rem;
    }

    .footer {
        text-align: center;
    }
}
/*
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)  {
*/

@media screen and (min-device-width: 36rem) and (max-device-width: 60rem) {
/*@media only screen and (min-height : 800px) and (max-height: 1000px) {      */
    * {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
    
    body {
        font-size: 1rem;
    }
    .masthead {
        
    }
    .mainnav {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20%;
        padding-top: 0;
        padding-bottom: 0%;
        width: 100%;
    }
    nav ul {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0%;
        padding-top: 0;
        padding-bottom: 0;
        width: 100%;
    }
    
    nav ul li {
        margin-left: 0.25%;
        margin-right: 0.25%;
        padding-top: 0;
        padding-bottom: 0;
        width: 24.5%;
        padding: 0.5% 0 0.5% 0;
        float:left;
        border-top: 0.18rem solid #888888;
        border-left: 0.18rem solid #888888;
        border-right: 0.18rem solid #888888;
        border-bottom: 0.18rem solid #888888;
        border-radius: 0.2rem;
    }
    
    nav a, nav a:link, nav a:visited {
        display: inline;
        font-size: 1.4rem;
    }
    
    nav a:hover, nav a:active {
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 700;
    background-image: none;
    width: 100%;
    padding: 0 0 0 0;
    text-shadow: 0.1rem 0.1rem #9CBA7F;
}
    }
    h1 {
        font-size: 3.5rem;
        padding-top: 0;
        margin-bottom: 5%;
    }
    h2 {
        margin-right: 10%;
    }
    h3 {
        border: none;
        margin-right: 10%;
    }
    .wrapper {
        padding-top: 5%;
        margin: auto auto auto auto;
    }

    .content {
        margin: 0 auto 0 auto;
        width: 63%;
        float: left;
    }
    
    .content p {
        margin-right: 10%;
        text-align: justify;
    }
    .side {
        width: 37%;
        float: right;
        border-left: 0.075rem solid #888888;
        padding-left: 4%;
    }
    .side p {
        text-align: justify;
    }
    img {
        width: 100%;
    }
    .footer {
        clear: both;
        text-align: center;
    }
    .footer p {
        padding-top: 5%;
    }
}
/*
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px)  { 
*/
@media screen and (min-device-width: 60rem) {
/*@media only screen and (min-height : 1001px) and (max-height: 1600px) {      */
      
      
    * {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
    }
    body {
        margin: 1%;
    }
    img {
        width: 100%;
        margin-bottom: 3%;
        border: 0.15rem solid #888888;
        border-radius: 0.5rem;
        }
    header {
        background-image: url(images/Cat.png); 
        background-repeat: no-repeat;
        background-position: center bottom;
        padding-bottom: 8%;
        margin-top: 5%;
        margin-bottom: 8%;
    }
    .masthead {
        border: 0.15rem solid #888888;
        border-radius: 0.5rem;
        background-color: #F4F4F4;
    }
    h1 {
        font-size: 5rem;
        text-align: center;
        color: #4c645c;
        font-weight: 700;
    }
    h2 {
        font-size: 3rem;
        text-align: center;
        color: #4c645c;
        font-weight: 700;
        margin-bottom: 2%;
    }
    h3 {
        font-size: 2rem;
        text-align: center;
        color: #4c645c;
        font-weight: 700;
        margin-bottom: 2%;
    }
    nav {
        width: 22%;
        margin-top: 4%;
        float: left;
    }

    nav ul {
        list-style: none;
        display: block;
        margin-bottom: 2%;
    }
    nav a, nav a:link, nav a:visited {
        color: #6a7f76;
        text-decoration: none;
        font-size: 1.7rem;
        font-weight: 500;
        padding: 2% 0 2% 0;

    }
    nav a:hover, nav a:active {
        color: #ffffff;
        font-size: 1.7rem;
        font-weight: 500;
        width: 100%;
        padding: 2% 0 2% 0;
        text-shadow: 0.1rem 0.1rem #9CBA7F;
    }

    .mainnav li {
        border-top: 0.14rem solid #888888;
        border-bottom: 0.14rem solid #888888;
        border-left: 0.14rem solid #888888;
        border-right: 0.14rem solid #888888;
        margin-right: 5%;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
        background-image: url("images/greenBackground2.jpg");
        display: block;
    }

    main {
        width: 52%;
        margin-right: 1%;
        float: left;
        display: inline;
        -webkit-column-count: 2; 
        -moz-column-count: 2; 
        column-count: 2;
    }
    main p {
        color: #003D00;
    }
    aside {
        width: 24%;
        border: 0.14rem solid #888888;
        border-radius: 0.5rem;
        padding: 1.8%;
        background-image: url("images/greenBackground2.jpg");
        float: right;
        display: inline;
    }
    aside p {
        color: #003D00;
    }

    footer {
        clear: both;
    }
    footer p {
        text-align: center;
    }
}