html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*
@media only screen and (max-device-width: 35em) {
    html {
        float: none;
        width: 100%;
    }
*/

/*colors to use: #437F07, #ADFF5A, #86FF0D, #567F2D, #6BCC0B*/
    
html {font-size: 1em;}

body {
  background-image: url("images/greenBackground.jpg");
  font-family: open sans, sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  font-size: 1.3em;
  margin: 10% 10% 10% 10%;
}

p {margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
  font-weight: 600;
  color: #4c645c;
}

h2 {font-size: 2.827em;
    font-weight: 500;
    color: #4c645c;
}

h3 {font-size: 1.999em;
    font-weight: 500;
    color: #4c645c;
}

h4 {font-size: 1.414em;
  font-weight: 600;
  color: #4c645c;
}

small, .font_small {font-size: 0.707em;}    

header {
    background-color: white;
}
nav a, nav a:link, nav a:visited{
    color: #6a7f76;
    text-decoration: none;
    font-size: 1.414em;
    font-weight: 500;
}
nav a:hover, nav a:active {
    color: #c6ddd5;
}

nav ul {
    margin: none;
    width: 100%;
/*
    border-top: solid #888888;
    border-bottom: solid #888888;
*/
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: white;
}
nav li{
    display: inline-block;
    margin: 0 10% 0 0%;
    width: 100%
    float: left;
}
.wrapper {
    background-color: white;
    margin: 0;
    padding: 5% 5% 5% 5%;
    border: 5px solid #999b9a;
    border-radius: 2em;
}
@media only screen and (max-device-width: 35em) {
    html {
        float: none;
        width: 100%;
    }
    body {
        font-size: 1em;
        margin: 3% 3% 3% 3%;
    }
    }
    img {
        width: 100%;
        margin-bottom: 3%;
    }
    h1 {
        font-size: 1.7em;
        font-weight: 700;
        border: none;
    }
    h2 {
        font-size: 1.4em;
        font-weight: 600;
        
    }
    h3 {
        font-size: 1.2em;
        font-weight: 600;
        border-top: 1px solid #888888;
        padding-top: 5%;
    }

    nav ul li {
        display: block;
        width: 100%;
        font-size: 1em;
        font-weight: 600;
        text-align: center;
        border-top: 3px solid #888888;
        border-left: 3px solid #888888;
        border-right: 3px solid #888888;
        padding: 2% 0 2% 0;
        background-image: url("images/greenBackground2.jpg");
        
    }
    nav ul li:last-child {
        border-bottom: 3px solid #888888;
    }
    .mainnav {
        width: 100%;
    }
   
@media only screen and (min-device-width: 36em) and (max-device-width: 60em) {
    .content {
        margin: 0 auto 0 auto;
        width: 63%;
        float: left;
    }
    .side {
        width: 37%;
        float: right;
    }
    img {
        width: 100%;
    }
}
    
@media only screen and (min-device-width: 60em) {
    html {
        
    }
    }


  